<form action='/artist-search' method='GET'>

  <label for='artist'></label>
  <input placeholder="Search for an artist!" type='text' name='artist' class="form-artist">

  <button class="artist-btn" type='submit'>Search for an Artist</button>
</form>